
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    <p>action_url: '<span id="show_url">twitter/some_scheme</span>'</p>
    <%= form_with(url: 'twitter/some_scheme', method: "PUT", remote: true, format: :json, :id => 'form_change') do |form| %>

      <div class="form-group">
        <%= form.label :url %>
        <%= form.text_field :url, :id => 'url', :value => 'twitter/some_scheme', required: true, :onkeyup => "change_action(this)" %>
        <br>

        <%= select_tag(
                :method,
                options_for_select([['GET', 'GET'], ['POST', 'POST'], ['PUT', 'PUT'], ['PATCH', 'PATCH'], ['DELETE','DELETE']], 'PUT'),
                :id => "method_option",
                :onchange => "change_method(this);")
        %>

      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>