
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

    <p>url: '<span id="show_url">/telegram/some_scheme/for/put</span>'</p>
    <%= form_with(url: '/telegram/some_scheme/for/post', method: "put", remote: true, format: :json, :id => 'form_change') do |form| %>

      <div class="form-group">
        <%= form.label :url %>
        <%= form.text_field :url, :id => 'url' %>
        <br>

        <%= select_tag(:method , options_for_select([['get', 'get'], ['post', 'post'], ['put', 'put'], ['patch', 'patch'], ['delete','delete']]), :id => "method_option") %>

      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>